html, body{
    padding: 0;
    margin: 0;
    background-color: grey;
}
.container{
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: 1fr 2fr;
    grid-auto-flow: row;
}
.item{
    border-radius: 5px;
    margin: 2px;
    background-color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.item:nth-child(even){
    border-radius: 500px;
    background-color: yellow;
    border: solid 1px blue;
}
.img1{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}