*{
    padding: 0;
    margin: 0;
    background-color: grey;
}
.container{
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: 1fr 2fr;
    grid-auto-flow: row;
}
.item{
    border-radius: 5px;
    margin: 2px;
    background-color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.item:nth-child(even){
    border-radius: 500px;
    background-color: yellow;
    border: solid 1px blue;
}
.img1{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gambar li{
    border: solid 1px pink;
    background-color: yellow;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gambar{
    width: 80%;
    margin: 20px auto;
    border: solid white 10px;
    border-radius: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.area{
    color: red;
    font-weight: bold;
    display: grid;
    grid-template: 100px 200px 100px / 1fr 2fr 3fr;
}
.area div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.A1{
    background-color: blue;
}
.A2{
    background-color: yellow;
}
.A3{
    background-color: crimson;
}
.A4{
    background-color: purple;
}
.A5{
    background-color: white;
}
.A6{
    background-color: orange;
}
.A7{
    background-color: salmon;
}
.A8{
    background-color: skyblue;
}
.A9{
    background-color: seagreen;
}